<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid">

      <div class="nav-toggle p-3 text-primary fw-bold justify-content-start h3">
          Moje rachunki
      </div>

      <button class="navbar-toggler justify-content-end" type="button" data-bs-toggle="collapse"
          data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false"
          aria-label="Toggle navigation">
          <img src="assets/icons_web/burger_icon.svg">
      </button>
      <div class="collapse navbar-collapse p-3 justify-content-end " id="nav-menu" role="navigation">
          <ul class="nav " role="menu">
              <li class="nav-item active">
                  <a routerLink="/" class="nav-link">Lista rachunków</a>
              </li>
              <li class="nav-item active">
                  <a routerLink="/addbill" class="nav-link">Dodaj rachunek</a>
              </li>
              <li class="nav-item active">
                  <a routerLink="/addcategory" class="nav-link">Dodaj kategorię</a>
              </li>

          </ul>

      </div>

  </div>

</nav>

<router-outlet></router-outlet>
